//dark
$text-main: rgb(252, 252, 252);
$text-subtle: rgb(197, 197, 197);
$text-subtle2: rgb(134, 134, 134);

$blue-bubble: rgb(94, 94, 223);
$grey-bubble: rgb(65, 65, 65);

$input-bar: rgb(80, 80, 80);

$side-bar: rgb(37, 41, 41);
$side-bar-highlight: rgba(82, 82, 82, 0.603);

$main-background: rgb(22, 21, 21);


//light
$text-main-l: rgb(20, 20, 20);
$text-subtle-l: rgb(58, 58, 58);
$text-subtle2-l: rgb(124, 123, 123);

$blue-bubble-l: rgb(160, 160, 255);
$grey-bubble-l: rgb(223, 223, 223);

$input-bar-l: rgb(230, 230, 230);

$side-bar-l: rgb(240, 240, 240);
$side-bar-highlight-l: rgba(212, 211, 211, 0.603);

$main-background-l: rgb(248, 248, 248);

