.navbar__logo, .navbar__menu, .navbar__menu--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  background: #ffffff;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar__logo {
  color: #FF753B;
  cursor: pointer;
  text-decoration: none;
  font-size: 3rem;
  margin-left: 65px;
  margin-top: 15px;
}

.navbar__logo img {
  max-width: 90px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .navbar__logo {
    font-size: 2.3rem;
    margin-left: 20px;
    margin-top: 0px;
  }
  .navbar__logo img {
    max-width: 70px;
  }
}

.navbar__bars {
  opacity: 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar__bars {
    color: #222121;
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 40px;
    font-size: 2rem;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
}

.navbar__x {
  opacity: 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar__x {
    color: #222121;
    opacity: 0;
    position: absolute;
    top: 22px;
    right: 40px;
    font-size: 2rem;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
}

.navbar__menu {
  list-style: none;
  text-align: center;
  margin-right: 24px;
}

@media screen and (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
}

.navbar__menu__mobile {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
}

.navbar__menu--links {
  color: #222121;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
}

.navbar__menu--links:hover {
  color: #FF753B;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__menu #button {
  padding: 12px 24px;
  border: none;
  border-color: #FF753B;
  border-style: solid;
  outline: none;
  border-radius: 30px;
  height: 45px;
  background: #ffffff;
  margin-right: 40px;
  margin-top: 25px;
  color: #FF753B;
  font-weight: 400;
}

.navbar__menu #button:hover {
  background-color: #FF753B;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .navbar__menu #button {
    margin-right: 0px;
    margin-top: 0px;
  }
}

.contact__bar {
  display: none;
}

.project {
  position: relative;
  margin-top: 40px;
}

.card {
  position: relative;
  border-radius: 16px;
  margin: 0 auto;
  width: 500px;
  max-width: 90%;
  height: 500px;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  background-image: url(../image/bananaInGame.png);
  background-size: cover;
  background-position: center;
}

.project_info {
  opacity: 0;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ff763b67;
  width: 510px;
  max-width: 100%;
  height: 500px;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  z-index: 5;
}

.project_info_header {
  position: relative;
  color: white;
  margin: 0 auto;
  font-size: 3.3rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  text-shadow: -1px 1px 0 #ddd, -2px 2px 0 #c8c8c8, -3px 3px 0 #ccc, -4px 4px 0 #b8b8b8, -4px 4px 0 #bbb, 0px 1px 1px rgba(0, 0, 0, 0.4), 0px 2px 2px rgba(0, 0, 0, 0.3), -1px 3px 3px rgba(0, 0, 0, 0.2), -1px 5px 5px rgba(0, 0, 0, 0.1), -2px 8px 8px rgba(0, 0, 0, 0.1), -2px 13px 13px rgba(0, 0, 0, 0.1);
}

.project_info_para {
  position: relative;
  color: white;
  margin: 10px auto;
  font-size: 1.4rem;
  text-align: center;
}

.project_info_button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  margin-top: 40px;
  background-color: white;
  width: 200px;
  padding: 10px 0px;
  display: block;
  margin: 0px auto;
  color: #ff763b;
  margin: auto auto;
  margin-top: 40px;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.project_info_button:hover {
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  background-color: rgba(255, 255, 255, 0.37);
  color: white;
}

.blur {
  border-radius: 16px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  background-image: url(../image/bananaInGame.png);
  background-position: center;
  background-size: cover;
  width: 500px;
  max-width: 90%;
  height: 500px;
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  z-index: 2;
}

#card2 {
  background-image: url(../image/pixelplane.jpg);
}

#blur2 {
  background-image: url(../image/pixelplane.jpg);
}

#card3 {
  background-image: url(../image/messenger.png);
}

#blur3 {
  background-image: url(../image/messenger.png);
}

.icons {
  position: fixed;
  right: 5px;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 15;
}

.icons img {
  width: 30px;
  height: 30px;
  margin-bottom: 15px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Exo', sans-serif;
  font-weight: 300;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  height: 100%;
}

body::-webkit-scrollbar {
  border-radius: 10px;
  height: 10px;
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: #FF753B;
  border-radius: 10px;
  border-left-style: solid;
  border-width: 1px;
  border-color: #ffffff;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}

.contact_bar {
  text-align: center;
}

.hero {
  background-color: #ffffff;
  padding-top: 35px;
}

@media screen and (max-width: 768px) {
  .hero {
    padding-top: 5px;
  }
}

.hero__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding-right: 24px;
  padding-left: 24px;
}

@media screen and (max-width: 768px) {
  .hero__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 100%;
  }
}

.hero__container--left {
  width: 100%;
  line-height: 1.2;
  padding: 1rem;
}

@media screen and (max-width: 280px) {
  .hero__container--left {
    line-height: 1.5;
  }
}

.hero__container--left h1 {
  font-size: 3rem;
  color: #222121;
  text-align: center;
  font-weight: 500;
  max-width: 90%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .hero__container--left h1 {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 280px) {
  .hero__container--left h1 {
    font-size: 1.5rem;
  }
}

.hero__container--left h2 {
  font-size: 4rem;
  color: #222121;
}

@media screen and (max-width: 280px) {
  .hero__container--left h2 {
    font-size: 2rem;
  }
}

.hero__container--left p {
  font-size: 1.5rem;
  color: #222121;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
  max-width: 50%;
}

@media screen and (max-width: 768px) {
  .hero__container--left p {
    font-size: 1.15rem;
    max-width: 80%;
  }
}

@media screen and (max-width: 280px) {
  .hero__container--left p {
    font-size: 0.9rem;
    max-width: 90%;
  }
}

.hero__container--btn {
  font-size: 1rem;
  background-color: #FF753B;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

.hero__container--btn a {
  position: relative;
  z-index: 2;
  color: #ffffff;
  text-decoration: none;
}

.hero__container--btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fb4b4e;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
}

.hero__container--btn:hover:after {
  width: 100%;
}

.hero__container--profile {
  max-width: 300px;
  text-align: center;
  margin: auto;
  padding: 0px 15px;
  padding-top: 20px;
}

.hero__container--icon {
  max-width: 700px;
  text-align: center;
  margin: auto;
  padding: 0px 15px;
}

.hero__container--image {
  width: 100%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: -7px;
}

.hero__container--img {
  width: 100%;
  margin: auto;
}

.info {
  background-color: #FF753B;
  width: 100%;
  border-radius: 10px;
}

.info h1 {
  color: #ffffff;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 27px;
  font-size: 2rem;
  font-weight: 500;
}

.info p {
  color: #ffffff;
  text-align: center;
  padding-bottom: 250px;
  font-size: 1.3rem;
  max-width: 50%;
  margin: auto;
  text-justify: inter-word;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .info p {
    max-width: 75%;
  }
}

@media screen and (max-width: 280px) {
  .info p {
    max-width: 90%;
  }
}

.skill {
  position: relative;
  bottom: 8rem;
  height: 100%;
  z-index: 2;
}

.skill-sheet {
  width: 95%;
  margin: auto;
  text-align: center;
  height: 100%;
}

.skill-sheet__container {
  min-height: 100%;
  display: inline-block;
  background-color: #ffffff;
  max-width: 307px;
  padding: 10px 3px;
  border-radius: 10px;
  text-align: center;
  vertical-align: top;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  padding-bottom: 25px;
}

@media screen and (max-width: 1000px) {
  .skill-sheet__container {
    max-width: 235px;
  }
}

@media screen and (max-width: 768px) {
  .skill-sheet__container {
    max-width: 385px;
  }
}

.skill-sheet__container__i {
  width: 100%;
  margin: 25px 0px;
}

.skill-sheet__container__i img {
  max-width: 60px;
  margin: auto;
}

.skill-sheet__container__lang {
  margin: auto;
  max-width: 85%;
  padding-top: 15px;
  font-size: 1rem;
}

.skill-sheet__container h1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.2rem;
  font-weight: 500;
}

.skill-sheet__container p {
  padding-top: 15px;
  text-justify: inter-word;
  text-align: justify;
  max-width: 85%;
  margin: auto;
}

.skill-sheet__container h2 {
  padding-top: 15px;
  text-align: center;
  max-width: 85%;
  margin: auto;
  color: #FF753B;
  font-size: 1.05rem;
  font-weight: 400;
}

.projects {
  padding-top: 0rem;
  padding-bottom: 8rem;
  border-radius: 10px;
  z-index: 1;
  position: relative;
  bottom: 3rem;
}

.projects h1 {
  text-align: center;
  color: #222121;
  margin: auto;
  font-weight: 500;
  font-size: 2rem;
}

.projects__i {
  width: 100%;
  margin: 25px 0px;
}

.projects__i img {
  display: block;
  max-width: 120px;
  margin: auto;
  text-align: center;
}

.projects__bubbles {
  margin-top: 30px;
  margin-bottom: 50px;
}

.projects__bubbles__p {
  position: relative;
  cursor: pointer;
  width: 200px;
  height: 200px;
  margin: auto;
  display: inline-block;
  border-radius: 50%;
  border-width: 3px;
  border-color: #FF753B;
  border-style: solid;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.projects__bubbles__p h1 {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 40px 40px;
}

.projects__bubbles__p:hover {
  background-color: #FF753B;
}

.projects__bubbles__p:hover h1 {
  color: #ffffff;
}

.projects__bubbles__l {
  margin-left: 33%;
}

.projects__bubbles__r {
  float: right;
  margin-right: 33%;
}

.footer {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #FF753B;
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

.footer__logo {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  font-size: 3rem;
  margin: auto;
  margin-top: 25px;
}

.footer__logo img {
  max-width: 90px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .footer__logo {
    font-size: 2.3rem;
  }
}

.footer h1 {
  margin-top: 20px;
  opacity: 70%;
  color: #ffffff;
  font-size: 1.3rem;
}

.footer h3 {
  margin-top: 10px;
  color: #ffffff;
  font-size: 1rem;
  padding-bottom: 40px;
}
/*# sourceMappingURL=style.css.map */