@import '../../style/colors';
@import '../../style/media-queries';
@import '../../style/style';

/**{
    @include no-select;
}*/
.navbar__notif{
    opacity: 0;
    width: 30%;
    max-height: 70px;
    border-radius: 25px;
    top: -50px;
    left: 35%;
    position: fixed;
    display: block;
    margin: 0;
    align-self: center;
    background-color: rgba(255, 117, 59, 0.5);
    border: solid 2px $orangeMain;
    transition: all 0.3s ease;
    padding: 7px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;

    @include tablet{
        width: 50%;
        left: 25%;
    }

}

.contact-header{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    h1{
        font-weight: 300;
        border-bottom: solid 1px $orangeMain;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 2.5rem;

        @include tablet{
            font-size: 2rem;
        }
    }
}

.contact_form{
    text-align: left;
    max-width: 800px;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 60px;
    &_cont_l{
        width: 100%;
        display: inline-block;
        padding: 20px 50px;
        text-align: left;
        

        label{
            font-size: 1.1rem;
        }
        &_message{
            width: 100%;
            height: 180px;
            border-radius: 10px;
            border-width: 1px;
            border-color: lightgrey;
            border-style: solid;
            display: block;
            outline: none;
            padding: 5px 5px;
            font-size: 1.3rem;
            -webkit-user-select:text;
        }
        @include tablet{
            padding: 20px 20px;
        }
        button {
            display: block;
            align-self: center;
            padding: 12px 24px;
            border: none;
            border-color: $orangeMain;
            border-style: solid;
            outline: none;
            border-radius: 30px;
            height: 65px;
            background: $light;
            margin: auto;
            color: $orangeMain;
            font-weight: 500;
            width: 200px;
            cursor: pointer;
            font-size: 1.3rem;

            &:hover{
                background-color: $orangeMain;
                color: $light;
                transition: all 0.3s ease;
            }
        }
        
    }
    &_cont_s{
        width: 46%;
        display: inline-block;
        padding: 20px 20px;
        text-align: left;
        

        label{
            font-size: 1.1rem;
        }
        
        &_inp{
            width: 325px;
            display: block;
            height: 50px;
            border-radius: 10px;
            border-width: 1px;
            border-color: lightgrey;
            border-style: solid;
            outline: none;
            padding: 5px 5px;
            font-size: 1.3rem;
            -webkit-user-select:text;

            @include tablet{
                
                width: 100%;
                display: inline-block;
            }
        }

        @include tablet{
            width: 100%;
            
        }
        
    }
}